.project-header{
    display: grid;
    gap: 1.5rem;
}
.project-header> :nth-child(1){
    display: flex;
    gap: .5rem;
    align-items: center;
}

.project-header> :nth-child(3){
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 20rem), 1fr));
    gap: 2rem;
}

.project-header> :nth-child(4){
    padding-top: 2rem;
 }

.header-social-links{
    display: flex;
    gap: 0.5rem;
}
.header-social-links > *{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    padding: 4px;
    background-color: #f4f4f4;
    box-shadow: -2px 6px 6px rgba(0, 0, 0, 0.15)
}

@media (min-width: 40rem) {
    .project-header> :nth-child(4){
        padding-top: 3rem;
     }
     
    .header-social-links{
        align-items: center;
        justify-items: center;
        justify-content: flex-end;

    }
    
}


.project-post{
    --max-width: 768px;
    width: min(100%, var(--max-width));
    margin-inline: auto;
    padding-top: 5rem;
    display: grid;
    gap: 1.5rem;
}
.project-post > :nth-child(1){
    display: grid;
    gap: 1.5rem;
}

.project-post > :nth-child(2){
    display: grid;
    gap: 1.5rem;
}

figure{
    display: grid;
    gap: 1rem;
    padding-block: 2.5rem;
}

figure>:nth-child(2){
    border-left: 2px solid #000000;
    padding-left: 0.5rem;

}


blockquote{
    padding-block: 2rem;
    font-style: italic;
}
blockquote >:nth-child(1){
    border-left: 2px solid #000000;
    padding-left: 1.5rem;


}

.share-post{
    display: grid;
    gap: 1rem;
}

.share-post > :nth-child(2){
    display: grid;
    gap: 2rem;
}
.share-post > :nth-child(2){
 padding-bottom: 2.5rem;
 border-bottom: 2px solid #000000;
}

.share-post > :nth-child(3){
    display: flex;
    gap: 1rem;
    padding-top: 2.5rem;
}


.post-socail-link {
    display: flex;
    gap: 0.5rem;   
}

.post-socail-link > *{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    padding: 4px;
    background-color: #f4f4f4;
    box-shadow: -2px 6px 6px rgba(0, 0, 0, 0.15)


}

.post-tags {
    display: flex;
    gap: 0.5rem;   
}
.post-tags > *{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 80px;
    min-height: 29px;
    width: 100%;
    padding: 4px 8px;
    font-size: var(--fs-small);
    font-weight: var(--fw-medium);
    background-color: #f4f4f4;
    box-shadow: -2px 6px 6px rgba(0, 0, 0, 0.15)
}

@media (min-width: 45rem) {
    .share-post > :nth-child(2){
        grid-template-columns: repeat(2 ,1fr);
    }
    
}


.contact-us{
    --max-width:768px;
    width: min(100%, var(--max-width));
    margin-inline: auto;
    display: grid;
    gap: 2.5rem;
}
.contact-us > :nth-child(1){
    display: grid;
    gap: 1.5rem;
    justify-items: center;
}