/* Defining the colors, fonts, font sizes, and font weights for the website. */
:root{

  /* Defining the colors for the website. */
   --clr-primary: #000000;
   --clr-primary-100: #ffffff;
 
   --clr-secoundary: #00543f;
   --clr-secoundary-100: #505050;
 
 /* Defining the font for the website. */
   --ff-primary: 'Open Sans', sans-serif;
   --ff-secoundary: 'Roboto', sans-serif;
 
   --ff-body:var(--ff-primary);
   --ff-hero-heading:var(--ff-secoundary);
 
  /* Defining the font size for the website. */
   --fs-xxlarger: 3rem; /* 48px*/
   --fs-xlarger: 2rem; /* 32px*/
   --fs-larger: 1.5rem; /* 24px*/
   --fs-large: 1.25rem; /* 20px*/
   --fs-regular: 1.125rem; /* 18px*/
   --fs-medium: 1rem; /* 16px*/
   --fs-small: 0.875rem; /* 14px*/
   --fs-smaller: 0.75rem;  /* 12px*/
 
   --fs-primary-hero-heading:var(--fs-xxlarger);
   --fs-secoundary-headig:var(--fs-xlarger);
   --fs-nav:var(--fs-medium);
   --fs-body:var(--fs-medium);
   --fs-button:var(--fs-small);
 
 /* Defining the font weight for the website. */
   --fw-regular: 400;
   --fw-bold: 700;
 
 }

 @media (min-width: 50rem) {
  :root{
    --fs-body: var(--fs-small);
    --fs-nav: var(--fs-small);
    --fs-button: var(--fs-small);
  }
 }
 

 /* Box sizing rules */
 *,
 *::before,
 *::after {
   box-sizing: border-box;
 }
 
 /* Remove default margin */
 *{
   margin: 0;
   padding: 0;
   font: inherit;
 }
 
 /* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
 ul[role='list'],
 ol[role='list'] {
   list-style: none;
 }
 
 /* Set core root defaults */
 html:focus-within {
   scroll-behavior: smooth;
 }
 
 /* Making the height of the body and html 100% of the viewport. */
 html,
 body{
   height: 100%;
 }
 
 /* Set core body defaults */
 body {
   text-rendering: optimizeSpeed;
   line-height: 1.5;
 }
 
 /* A elements that don't have a class get default styles */
 a:not([class]) {
   text-decoration: auto;
   color: var(--clr-primary);
 }
 
 /* Make images easier to work with */
 img,
 picture{
   max-width: 100%;
   display: block;
 }
 
 hr{
  height: 0;
  border: 1px solid var(--clr-primary);
  background-color: var(--clr-primary);
 }
 /* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
 @media (prefers-reduced-motion: reduce) {
   html:focus-within {
    scroll-behavior: auto;
   }
   
   *,
   *::before,
   *::after {
     animation-duration: 0.01ms !important;
     animation-iteration-count: 1 !important;
     transition-duration: 0.01ms !important;
     scroll-behavior: auto !important;
   }
 }
 
 
 
 /* Utility Classes */
 
 /* Defining the text color for the website. */
 .text-primary{
   color: var(--clr-primary);
 }
 .text-primary-100{
   color: var(--clr-primary-100);
 }
 .text-secoundary{
   color: var(--clr-secoundary);
 }
 .text-secoundary-100{
   color: var(--clr-secoundary-100);
 }
 
 
 /* Defining the background color for the website. */
 .bg-primary{
   background-color: var(--clr-primary);
 }
 .bg-primary-100{
   background-color: var(--clr-primary-100);
 }
 .bg-secoundary{
   background-color: var(--clr-secoundary);
 }
 .bg-secoundary-100{
   background-color: var(--clr-secoundary-100);
 }
 
 
 /* Defining the font size for the website. */
 
 .fs-xxlarger{
   font-size: var(--fs-xxlarger);
 }
 .fs-xlarger{
   font-size: var(--fs-xlarger);
 }
 .fs-larger{
   font-size: var(--fs-larger);
 }
 .fs-large{
   font-size: var(--fs-large);
 }
 .fs-regular{
   font-size: var(--fs-regular);
 }
 .fs-medium{
   font-size: var(--fs-medium);
 }
 .fs-small{
   font-size: var(--fs-small);
 }
 .fs-smaller{
   font-size: var(--fs-smaller);
 }
 
 /* Defining the font family for the website. */
 .ff-body{
   font-family: var(--ff-body);
 }
 .ff-secoundary{
   font-family: var(--ff-secoundary);
 }
 

 /* Defining the font weight for the website. */
 .fw-regular{
   font-weight: var(--fw-regular);
 }
 .fw-bold{
   font-weight: var(--fw-bold);
 }
 

 section,
 main,
 header{
  max-width: 1440px;
  margin-inline: auto;
  background-color: #ffffff;
 }
 
 .container{
   --max-width: 1312px;
   --padding: 1rem; 
   width: min(var(--max-width), 100% - var(--padding) *2);
   margin-inline: auto;
   margin-bottom: 4rem;
   background-color: antiquewhite;
 }
 
 .even-column{
   display: grid;
   grid-gap: 2.5rem;
 }
 
 .even-row{
   display: grid;
   gap: 2.5rem;
   padding-block: 3rem;


 }
 
 
 @media (min-width: 65rem) {
   .container{
     margin-bottom: 6.25rem;
   }
   .even-column{
    gap: 5rem;
   }

   .even-row{
    grid-template-columns: repeat(2 ,1fr);
    gap: 5rem;
    padding-block: 7rem;
   }
 
 }

 /* general Styling */
 
 body{
   font-family: var(--ff-primary);
   font-weight: var(--fw-regular);
   font-size: var(--fs-body);
   background-color: rgb(59, 59, 143);
 }



 /* button */

button{
  font-size: var(--fs-button);
}
 .start-porject-btn{
    width: 153px;
    padding: 8px 20px 8px 20px;
    color: var(--clr-primary-100);
    background-color: var(--clr-secoundary);
    border: none;
 }

 .view-work-btn{
    max-width: 165px;
    padding: 8px 20px 8px 20px;
    color: var(--clr-primary-100);
    background-color: var(--clr-secoundary);
    border: none;
    margin-right: 1rem;

 }

 .services-btn{
    max-width: 120px;
    padding: 8px 20px 8px 20px;
    color: var(--clr-primary);
    background-color: var(--clr-primary-100);
    border: 1px solid #000000;
 }

 .work-btn{
  padding: 0.75rem 1.5rem 0.75rem 1.5rem;
  background-color: transparent;
  border: 1px solid var(--clr-secoundary);
  margin-right: 1.5rem;
 }

.porject-btn{
  background-color: transparent;
  border: none;
}


@media (max-width: 22rem){
  

.view-work-btn{
  max-width: 125px;
  padding: 0.5rem 1rem 0.5rem 1rem;
}

.services-btn{
  max-width: 125px;
  padding: 0.5rem 1rem 0.5rem 1rem;
}

.work-btn{
  padding: 0.5rem 0.75rem 0.5rem 0.75rem;
  margin-right: 0.75rem;
}
}


 /* Navigation */
 
 .nav-wrapper{
   display: flex;
   justify-content: space-between;
   padding-block: 0.567rem;
   align-items: center;
 }
 
 .nav-logo{
   max-width: 63px;
   min-height: 57px
 }
 
 .primary-navigation{
   display: flex;
   gap: 2rem;
   align-items: center;
 }
 
 .nav-list{
   display: flex;
   gap: 2rem;
   font-size: var(--fs-nav);
 }
 
 .mobile-nav-toggle{
   display: none;
 }
 .icon-close{
   display: none;
 }
 
 
 @media (max-width: 44.5rem){
 
   .primary-navigation{
     display: none;
     position: absolute;
     padding: 1rem;
     inset: 5.1rem 1rem auto;
     background-color: var(--clr-primary-100);
     box-shadow: 0px 11px 15px rgba(0, 0, 0, 0.25);
     border-radius: 5px;
     z-index: 1;
   }
 
   .mobile-nav-toggle{
     display: block;
     border: none;
     background-color: transparent;
     width: 1.5rem;
     aspect-ratio: 1;
 
     background-image: url(./Image/icon-hamburger.svg);
     background-repeat: no-repeat;
     background-size: contain;
     background-position: center;
 }
 
 .mobile-nav-toggle[aria-expanded="true"]{
     background-image: url(./Image/icon-close.svg);
 }
 
 
 
 .primary-navigation[data-visible]{
     display: block;
 }
 
 .nav-list{
     display: grid;
     justify-content: center;
     grid-gap: 2.5rem;
 }
 .start-porject{
   display: none;
 }
 }
 

 /* hero Section */

 .hero-heading{
  display: grid;
  gap: 2.5rem;
  justify-items: center;
 }

 .hero-title{
   padding-top: 2.5rem;
 }
 .hero-info{
  padding: 0rem;
 }

 .hero-info> :nth-child(2){
  margin-top: 1.5rem;
 }

 .hero-image{
  padding-bottom: 2.5rem;
 }


 .bay{
  position: relative;
 }
 
 .bay::after{
   content: '';
    display: block;
    position: absolute;
    right: -5%;
    bottom: -7%;
    width: 20%;
    min-height: 50%;
    background-image: url(./Image/Vector.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    color: rgba(251, 226, 215, 0.5);;
 
 }



 @media (min-width : 54rem){
  .hero-heading{
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
    justify-items: flex-start;
  }
  .hero-info{
    padding: 0rem 2rem 0rem 0rem;
   }

   .hero-image{
    padding-bottom: 7rem;
   }
 }



 /* client testimonial */

 .testimonial-title{
  display: grid;
  gap: 1.5rem;
  justify-items: center;
  padding-top: 7rem;
 }


 .testimonial-cards{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
   gap: 2rem;
   padding-bottom: 5.6rem;
 }

 .testimonial-cards > *{
  border: 1px solid var(--clr-primary);
  padding: 2rem;
 }

 .client-info{
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-top: 2rem;
 }

 @media (max-width: 25rem) {
  
  .testimonial-title{
    padding-top: 2.5rem;
   }
  
  .testimonial-cards{
   grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
   padding: 0;
  }
  .testimonial-cards > *{
    padding: 1rem;
   }
 }


 
/* Our Work Section */

.our-work{
  display: grid;
  gap: 1rem;
  align-content: center;
}

.work-cards{
  display: grid;
  gap: 0.75rem;
}
.card{
  padding: 0.5rem 0rem 0.5rem 1.5rem;
}

.card>*{
  padding-bottom: 1rem
}



@media (max-width: 65rem) {
  .work-image{
    width: 100%;
  }

}
@media (min-width: 31rem) {
  .work-cards{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.75rem;
  }

  .work-cards> :nth-child(2){
    border-left: 1px solid var(--clr-primary);
  }
  
  .works-button{
    margin-top: 2.25rem;
  }
}
